<p class="mb-3">
    {{ t('ui.rules.intro', {}, locale, ['common']) }}
</p>
<ul class="mb-0">
    <li>{{ t('ui.rules.item_1', {}, locale, ['common']) }}</li>
    <li>{{ t('ui.rules.item_2', {}, locale, ['common']) }}</li>
    <li>{{ t('ui.rules.item_3', {}, locale, ['common']) }}</li>
    <li>{{ t('ui.rules.item_4', {}, locale, ['common']) }}</li>
    <li>{{ t('ui.rules.item_5', {}, locale, ['common']) }}</li>
</ul>
